<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>后台管理</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Bootstrap Core CSS -->
	<link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link th:href="@{../../css/style.css}" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" th:href="@{../../css/morris.css}" type="text/css"/>
	<!-- Graph CSS -->
	<link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
	<!-- jQuery -->
	<script th:src="@{../../js/jquery-2.1.4.min.js}"></script>
	<!-- //jQuery -->
	<!-- tables -->
	<link rel="stylesheet" type="text/css" th:href="@{../../css/table-style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{../../css/basictable.css}" />
	<link rel="stylesheet" th:href="@{../../../layui/css/layui.css}"/>
	<script th:src="@{../../layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{../../js/jquery.basictable.min.js}"></script>
	<link rel="shortcut icon" href="/favicon1.ico"/>
	<style>

		* { touch-action: pan-y; }

	</style>
</head>
<body>





<!-- 侧边栏 -->
<div class="page-container">
<div class="left-content">
	<div class="mother-grid-inner">


		<div class="container" style="width: 80%;">
			<table id="table-two-axis" class="two-axis">
				<div style="margin-top: 20px;">
					用户名：
					<input type="text" id="userName" style="height: 30px;">
					用户身份：
					<select id="capacity" style="padding: 5px;">
						<option value="" selected></option>
						<option value="0">普通用户</option>
						<option value="-1">正在申请的用户</option>
						<option value="1">博主</option>
					</select>

					<button onclick="search()" class="layui-btn layui-btn-normal">搜索</button>
				</div>
				<thead>
				<tr>
					<th>用户id</th>
					<th>用户名</th>
					<th>用户级别</th>
					<th>用户邮箱</th>
					<th>用户生日</th>
					<th style="width: 300px;">操作</th>
				</tr>
				</thead>
				<tbody id="showMsg">
<!--				博客展示-->
				</tbody>
			</table>
			<div style="height: 20px;"></div>
			<nav aria-label="Page navigation" >
				<ul class="pagination" id="pageBar">
					<!--					分页数据-->
				</ul>
				<span id="totalPage"></span>
				<span id="totalCount"></span>
			</nav>
		</div>
		<script>

			function search () {
				let userName = $("#userName").val();
				let capacity = $("#capacity").val();
				if (capacity === null || capacity === undefined || capacity === ''){
					capacity = null;
				}
				$.ajax({
					type: "post",
					url: "/admin/searchUser",
					dataType: "json",
					contentType: "application/json;charset=UTF-8",//指定消息请求类型
					data: "{" +
							"\"userName\":\"" + userName +
							"\",\"capacity\":" + capacity + "}",
					success: function (data) {
						fillMsg(data);
					}
				});
			}

			function delUser(id) {
				$.ajax({
					type: "post",
					url: "/admin/delUser/" + id,
					success: function (data) {
						fillMsg(data);
					}
				});
			}
			function page(i){
				$.ajax({
					type: "post",
					url: "/admin/queryPageUser/"+i,
					data: null,
					success: function (data) {
						fillMsg(data);
					}
				})
			}

			function pageside(size,nowPage) {
				$("#pageBar").empty();
				var beforNum = parseInt(nowPage)-1;
				if(beforNum <= 0){
					beforNum=1
				}
				$("#pageBar").append("<li>\n" +
						"<a onclick='page("+beforNum+")' aria-label='Previous'>\n" +
						"<span aria-hidden='true'>&laquo;</span>\n" +
						"</a>\n" +
						"</li>");
				/*
                        分页做到前5后4
                        若前面不足4个，后面补齐
                        若后面不足4个，则前面补齐
                        */
				//定义开始位置begin和结束位置end
				var begin;
				var end;
				if(size<=10){
					begin = 1;
					end = size;
				}else{
					begin = nowPage - 5;
					end = nowPage + 4;
					//补齐
					if(begin<1){
						begin=1;
						end = 10;
					}
					if(end>size){
						end=size;
						begin = end - 9;
					}
				}
				//显示10个页码
				var li = "";
				for (var i = begin; i <= end; i++){
					if (i == nowPage){
						li +=	"<li><a style='background-color: #75BDEE;' onclick='page("+i+")'>"+i+"</a></li>"
					}else{
						li +=	"<li><a onclick='page("+i+")'>"+i+"</a></li>"
					}
				}
				$("#pageBar").append(li);
				var nextNum = parseInt(nowPage)+1;
				if(nextNum > size){
					nextNum=size
				}
				$("#pageBar").append("<li>\n" +
						"<a onclick='page("+nextNum+")' aria-label='Next'>\n" +
						"<span aria-hidden='true'>&raquo;</span>\n" +
						"</a>\n" +
						"</li>");
			}

			function fillMsg(data) {
				$("#showMsg").empty();
				var size = data.size;
				var totalCount = data.total;
				var nowpage = data.page;
				$("#totalPage").text("总页数："+data.size);
				$("#totalCount").text("总记录数："+data.total);
				var tr = "";
				for (let i = 0; i < data.rows.length; i++) {
					tr += "<tr>\n";
					tr += "<td><a th:href=\"@{/ordinary/read/}\""+data.rows[i].id+">"+data.rows[i].uid+"</a></td>";
					tr += "<td><a th:href=\"@{/ordinary/read/}\""+data.rows[i].id+">"+data.rows[i].uname+"</a></td>";
					if (data.rows[i].capacity == 0){
						tr += "<td><a th:href=\"@{/ordinary/read/}\""+data.rows[i].id+">普通用户</a></td>";
					}else if (data.rows[i].capacity == -1){
						tr += "<td><a th:href=\"@{/ordinary/read/}\""+data.rows[i].id+">博主申请中</a></td>";
					}else{
						tr += "<td><a th:href=\"@{/ordinary/read/}\""+data.rows[i].id+">博主</a></td>";
					}
					tr += "<td><a th:href=\"@{/ordinary/read/}\""+data.rows[i].id+">"+data.rows[i].email+"</a></td>";
					tr += "<td><a th:href=\"@{/ordinary/read/}\""+data.rows[i].id+">"+data.rows[i].brith+"</a></td>";
					tr += "<td>\n" +
							"\t\t\t\t\t\t\t<button class=\"layui-btn layui-btn-danger\"  onclick='delUser("+data.rows[i].uid+")'>删除用户</button>\n" +
							"\t\t\t\t\t</td>";
					tr += "</tr>";
					$("#showMsg").append(tr);
					tr = "";
				}
				pageside(size,nowpage);
			}
			$(function () {

				$.ajax({
					type: "post",
					url: "/admin/queryPageUser/1",
					data: null,
					success: function (data) {
						fillMsg(data);
					}
				});
			})
		</script>


	</div>
</div>

	<!--//content-inner-->
	<!--/sidebar-menu-->
	<div class="sidebar-menu">
		<header class="logo1">
			<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
		</header>
		<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
		<div class="menu">
			<ul id="menu" >
				<li><a th:href="@{/views/admin}"><i class="fa fa-tachometer"></i> <span>首页</span><div class="clearfix"></div></a></li>
				<li ><a th:href="@{/views/toPassAuthor}"><i class="fa fa-envelope nav_icon"></i><span>审核博主</span><div class="clearfix"></div></a></li>
				<li><a th:href="@{/views/toBlogAdmin}"><i class="fa fa-picture-o" aria-hidden="true"></i><span>博客管理</span><div class="clearfix"></div></a></li>
				<li ><a th:href="@{/views/toCommentsAdmin}"><i class="fa fa-bar-chart"></i><span>评论管理</span><div class="clearfix"></div></a></li>
				<li style="background-color: #0F9E5E"><a th:href="@{/views/toUserAdmin}"><i class="fa fa-list-ul" aria-hidden="true"></i><span>用户管理</span><div class="clearfix"></div></a></li>
				<li><a th:href="@{/views/toCategoryAdmin}"><i class="fa fa-list-ul" aria-hidden="true"></i><span>博客类别管理</span><div class="clearfix"></div></a></li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<script>
	var toggle = true;

	$(".sidebar-icon").click(function() {
		if (toggle){
			$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
			$("#menu span").css({"position":"absolute"});
		} else{
			$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
			setTimeout(function() {
				$("#menu span").css({"position":"relative"});
			}, 400);
		}
		toggle = !toggle;
	});
</script>
</body>

<!--js -->
<script th:src="@{../../js/jquery.nicescroll.js}"></script>
<script th:src="@{../../js/scripts.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{../../js/bootstrap.min.js}"></script>
<!-- /Bootstrap Core JavaScript -->
</html>
