<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    namespace（命名空间）绑定一个持久层的接口，包名要和接口的包名一致-->
<mapper namespace="com.chuyx.mapper.CommentsMapper">
    <!--    开启二级缓存-->
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>


    <select id="queryCountByBlogId" resultType="int" parameterType="int">
        SELECT COUNT(*) from comments where blog_id = #{id};
    </select>

    <insert id="addCommnet" parameterType="commentDTO">
        insert into comments(uid, create_time, content, parent_id, blog_id)
         values (#{uid},now(),#{content},#{parentId},#{blogId})
    </insert>

    <select id="queryByBlogId" parameterType="int" resultType="comments">
        select * from comments where blog_id = #{id} and parent_id = 0 limit 0,5;
    </select>

    <select id="queryByBlogIdByPage" parameterType="int" resultType="comments">
        select * from comments where blog_id = #{blogId} and parent_id = 0 limit #{index},#{size};
    </select>

    <select id="queryByComId" parameterType="int" resultType="comments">
        select * from comments where parent_id=#{comId} and blog_id = #{blogId} order by create_time asc
    </select>

    <insert id="addChildComment" parameterType="comments">
        insert into comments(uid, create_time, content, parent_id, blog_id, author_one, author_twe)
        VALUES (#{uid},now(),#{content},#{parentId},#{blogId},#{authorOne},#{authorTwe})
    </insert>

    <select id="countSize" resultType="int">
        select count(*) from comments where blog_id = #{blogId} and parent_id = 0;
    </select>

    <select id="getAllCommentsSize" resultType="int">
        select count(*) from comments
    </select>

    <select id="queryPageComment" resultType="comments" parameterType="int">
        select * from comments order by create_time desc  limit #{index},#{size}
    </select>

    <delete id="delComment" parameterType="int">
        delete from comments where id = #{id}
    </delete>

    <delete id="delCommentChilds" parameterType="int">
        delete from comments where parent_id = #{id}
    </delete>


    <delete id="delCommentBuBlogId" parameterType="int">
        delete from comments where blog_id = #{id}
    </delete>
</mapper>